@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:  url("../fonts/Gilroy-Regular.woff2") format("woff2"),
      url("../fonts/Gilroy-Regular.woff") format("woff"),
      url("../fonts/Gilroy-Regular.eot") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:  url("../fonts/Gilroy-SemiBold.woff2") format("woff2"),
      url("../fonts/Gilroy-SemiBold.woff") format("woff"),
      url("../fonts/Gilroy-SemiBold.eot") format("eot");
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:  url("../fonts/Gilroy-Bold.woff2") format("woff2"),
      url("../fonts/Gilroy-Bold.woff") format("woff"),
      url("../fonts/Gilroy-Bold.eot") format("eot");
}

@font-face {
    font-family: "Galien";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:  url("../fonts/Galien-Regular.woff2") format("woff2"),
      url("../fonts/Galien-Regular.woff") format("woff"),
      url("../fonts/Galien-Regular.eot") format("eot");
}