$mobile-width: 320px;
$tablet-width: 660px;
$tablet-pro-width: 840px;
$desktop-width: 1366px;


$blue01: #1F3F68;
$blue02: #5A98D0;
$blue03: #356EAD;
$blue04:  #5A98D0;
$blue05: #316099;
$bg: #e5e5e5;
$border: #356EAD;