.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: 300px;
}

.contacts:before {
    content: '';
    position: absolute;
    left: 0;
    top: -87px;
    width: 84%;
    height: 1px;
    background-color: transparentize($color: #fff, $amount: 0.6);
}

.contacts__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 730px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5em;

    @media (min-width: $desktop-width) {
        flex-direction: row;
        width: 69%;
        min-height: 230px;
    }
}