.form {
    display: inline-block;
    box-sizing: border-box;
    min-width: 300px;
    margin: 0 auto;
    height: 600px;    
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background-color: #fff;

    @media (min-width: $desktop-width) {
        min-width: 540px;
        height: 800px; 
        margin: 0;
    }
}

.form__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 30px;
    min-height: 500px;

    @media (min-width: $desktop-width) {
        padding: 56px;
        min-height: 688px;
        justify-content: space-between;
    }
}

.form__heading {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 0.5em;

    @media (min-width: $desktop-width) {
        font-size: 20px;
        margin-bottom: 0;
    }
}

.form__description {
    line-height: 30px;
    letter-spacing: 0.04em;
    color: transparentize($color: $blue01, $amount: 0.2);
}

.form__input {
    box-sizing: border-box;
    color: transparentize($color: $blue01, $amount: 0.8);
    padding-left: 36px;    
    padding-right: 21px;
    letter-spacing: 0.04em;
    min-width: 85%;
    min-height: 42px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    border: 1px solid transparentize($color: $blue01, $amount: 0.8);

    @media (min-width: $desktop-width) {
        padding-left: 36px;    
        padding-right: 21px;
        letter-spacing: 0.04em;
        min-width: 428px;
        min-height: 72px;
    }
}

.form__input:focus {
    outline: none;
}

.form__text {    
    min-width: 80%;
    min-height: 144px;
    padding-top: 21px;
    padding-left: 36px; 
    padding-right: 21px;
    color: transparentize($color: $blue01, $amount: 0.8);
    resize: none;    
    box-sizing: border-box;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 1px solid transparentize($color: $blue01, $amount: 0.8);

    @media (min-width: $desktop-width) {
        min-width: 428px;
        min-height: 144px;
    }
}

.form__text:focus {
    outline: none;
}

.form__button {
    font-family: 'Gilroy', 'Arial', sans-serif;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.04em;
    min-width: 100%;
    min-height: 42px;
    margin-top: 1.6em;
    cursor: pointer;
    background-color: $blue02;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    border: 0px;

    @media (min-width: $desktop-width) {
        min-width: 428px;
        min-height: 72px;
    }
}

.form__button:hover {
    background-color: saturate($color: $blue02, $amount: 15%);
}

.form__item:not(:last-child) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80px;

    @media (min-width: $desktop-width) {
        min-height: 110px;
    }
}

.form__item:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 182px;
}

.form__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 430px;
    width: 100%;

    @media (min-width: $desktop-width) {
        min-height: 460px;
    }
}

.form__layout--modal {    
    position: relative;
    z-index: 99999;
    top: 10px;
    left: 10%;
    min-width: 300px;
    margin: 0 auto;
    height: 600px;

    @media (min-width: $desktop-width) {
        top: 50%;        
        left: 50%;        
        transform: translate(-50%, -50%);
        min-width: 540px;  
        height: 760px;
    }
}

.form__layout--modal .form__button {   

    @media (min-width: $desktop-width) {
        margin-bottom: 2.5em;
    }
    
}

input::-webkit-input-placeholder {
    color: transparentize($color: $blue01, $amount: 0.8);
}

input::-moz-input-placeholder {
    color: transparentize($color: $blue01, $amount: 0.8);
}

.form__text::-webkit-textarea-placeholder {
    color: transparentize($color: $blue01, $amount: 0.8);
}

.form__text::-moz-textarea-placeholder {
    font-family: 'Gilroy', 'Arial', sans-serif;
    color: transparentize($color: $blue01, $amount: 0.8);
}

::placeholder {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 14px;
    color: transparentize($color: $blue01, $amount: 0.8);
}