.map {
    margin: 3em auto;
    width: 90%;

    @media (min-width: 360px) {
        width: 80%;
    }

    @media (min-width: $desktop-width) {
        margin: 6em auto;
        width: 69%;
    }
}

.map__img {
    width: 100%;
}

